############
#  folder  #
############
ipch
debug
Debug
Release
release
objs
Makefile
bin
Bin
obj
Obj
html-template
bin-debug
ClientBin
############
#   file   #
############
*.o
*.lo
*.la
*.al
*.so
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_Store
~$*.doc
*.xap
*.pdb
~$*.docx
~$*.ppt
~$*.pptx
~$*.xls
~$*.xlsx
*.obj
*.lib
*.exe
*.cod
*.pdb
*.map
*.ncb
*.dll
*.pch
*.vss
*.vssscc
*.scc
*.ink
*.exp
*.wmv
*.asf
*.wma
*.mp3
*.rm
*.rmvb
*.log
*.rar
*.suo
*.idb
*.user
*.bak
*.dat
*.ilk
*.tmp
*.manifest
*.res
*.dep
*.aps
*.flv
*.mp4
*.cache
*.db
*.sdf
*.opensdf
*.user
*.tlb
*_i.c
*_p.c
*_i.h
*_h.h
*temp.c
dlldata.c
